/* nice colors */
/* background-color: #ff444499; */
/* background: #20202099; */

:root {
    --delta-y: 50px;
    --delta-y-sm: calc(var(--delta-y)*.5);
    --delta-margin: calc(-1 * var(--delta-y) - 3px);
    --delta-margin-sm: calc(-1 * var(--delta-y-sm));
    --hero-height: 70vh;
    /* used for setting logo container height and offset for content background */
    --hero-trim: 50px;
    /* used to set body and hero trim bg */
    --hero-trim-color: #101010
}



* {
    margin: 0;
    box-sizing: border-box;
}

html {
    position: absolute;
    display: grid;
    /* height: 100vh;
    width: 100vw; */
    /* container-type: inline-size; */
    font-family: "myriad-pro", sans-serif, "Arial";
    font-weight: 600;
    font-style: normal;
    height: auto;
}
body{
    position: relative;
    height: auto;
    width: 100vw;
    background-color: var(--hero-trim-color)
    /* background-color: red; */
    /* container-type: inline-size; */

}

.banner-follow-logo {
  width: 15%;
  position: fixed;
  top: 50px;
  left: 20px;
  z-index: 50;
  /* opacity: .5; */
}

.banner-logo {
  width: 100%;
}

.overlay-logo-container {
    opacity: .5;
    z-index: 10;
    top: 7%;
    width: 100%;
    /* height: 50%; */
    position: absolute;
    display: flex;
    /* flex-wrap: wrap; */
    align-content: center;
    justify-content: center;
    justify-self: center;
    z-index: 100;
}

.overlay-logo {
    display: flex;
    width: 50%;
    height: 100%;
    /* aspect-ratio: 1/1; */
}

.overlay-logo-link {
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.image-logo {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  margin: auto;
  width: 100%;
  height: 100%;
}




    .concave-bottom {
        width: 100vw;
        height: var(--hero-height);
        background: #ff444499;
        /* #Concave Bottom */
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 90% 100%, 80% calc(100% - var(--delta-y)), 20% calc(100% - var(--delta-y)), 10% 100%, 0% 100%);
    }

    .concave-bottom-hero {
        width: 100vw;
        height: var(--hero-height);
        background: #ff444499;
        /* #Concave Bottom */
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 90% 100%, 80% calc(100% - var(--delta-y)), 80% calc(100% + var(--hero-trim)), 20% calc(100% + var(--hero-trim)), 20% calc(100% - var(--delta-y)), 10% 100%, 0% 100%);
    }

    .concave-top{
        margin-top: var(--delta-margin);
        width: 100vw;
        height: 70vh;
        background: #ff444499;
        /* #Concave Top */
        clip-path: polygon(0% 0%, 10% 0%, 20% var(--delta-y), 80% var(--delta-y), 90% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .concave-top-and-bottom{
        margin-top: var(--delta-margin);
        width: 100vw;
        height: 170vh;
        background: #ff444499;
        /* #Concave Top + Bottom */
        clip-path: polygon(0% 0%, 10% 0%, 20% var(--delta-y), 80% var(--delta-y), 90% 0%, 100% 0%, 100% 100%, 90% 100%, 80% calc(100% - var(--delta-y)), 20% calc(100% - var(--delta-y)), 10% 100%, 0% 100%);
    }

    .convex-top {
        margin-top: var(--delta-margin);
        width: 100vw;
        height: 100vh;
        background: #20202099;
        background: #202020;
        /* #Convex Top */
        clip-path: polygon(0% var(--delta-y), 10% var(--delta-y), 20% 0%, 80% 0%, 90% var(--delta-y), 100% var(--delta-y), 100% 100%, 0% 100%);
    }

    .convex-bottom {
        margin-top: var(--delta-margin);
        width: 100vw;
        height: 100vh;
        background: #20202099;
        background: #202020;
        /* #Convex Bottom */
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--delta-y)), 90% calc(100% - var(--delta-y)), 80% 100%, 20% 100%, 10% calc(100% - var(--delta-y)), 0% calc(100% - var(--delta-y)));
    }


    .convex-top-and-bottom {
        margin-top: var(--delta-margin);
        width: 100vw;
        height: 100vh;
        background: #20202099;
        background: #202020;
        /* #Convex Bottom */
        /* clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 90% 90%, 80% 100%, 20% 100%, 10% 90%, 0% 90%);  */
        /* #Convex Top + Bottom */
        /* clip-path: polygon(0% 10%, 10% 10%, 20% 0%, 80% 0%, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 80% 100%, 20% 100%, 10% 90%, 0% 90%);  */

        /* !Use for !clip path size */
        font-size: 30%;
        /* !Use for !clip path size */
        /* clip-path: polygon(0% 10em, 10% 10em, 20% 0em, 80% 0em, 90% 10em, 100% 10em, 100% calc(100% - 10em), 90% calc(100% - 10em), 80% 100%, 20% 100%, 10% calc(100% - 10em), 0% calc(100% - 10em));  */

        clip-path: polygon(0% var(--delta-y), 10% var(--delta-y), 20% 0, 80% 0, 90% var(--delta-y), 100% var(--delta-y), 100% calc(100% - var(--delta-y)), 90% calc(100% - var(--delta-y)), 80% 100%, 20% 100%, 10% calc(100% - var(--delta-y)), 0% calc(100% - var(--delta-y)));
    }

    .convex-top-and-bottom-hero-trim {
        margin-top: var(--delta-margin);
        width: 100vw;
        height: 200vh;
        background: #20202099;
        background: #202020;
        clip-path: polygon(0% var(--delta-y), 10% var(--delta-y), 20% 0, 20% var(--hero-trim), 80% var(--hero-trim), 80% 0, 90% var(--delta-y), 100% var(--delta-y), 100% calc(100% - var(--delta-y)), 90% calc(100% - var(--delta-y)), 80% 100%, 20% 100%, 10% calc(100% - var(--delta-y)), 0% calc(100% - var(--delta-y)));
    }

    .red {
        background-color: red;
        background-color: #ff444499;
        background: linear-gradient(#e66465, #9198e5);
        background-image: url(../public/models/Mountains/Twilight.jpg);
        box-shadow: 0px 10px 10px 10px red;
    }

    .black {
        background-color: #202020;
    }

    .photo {
        background: url(../public/models/Firefly\ black\ background\ illustration\ of\ drawn\ planets\ with\ colorful\ shooting\ stars\ 46155.jpg);
        background-size: contain;
        /* background-size: cover; */
        background-position: center;
        /* background-repeat: no-repeat; */
    }

    .content-background {
        position: fixed;
        top: 0;
        /* bottom: 0; */
        left: 10%;
        display: flex;
        justify-self: center;
        height: 100lvh;
        width: 80%;
        background-color: #20202033;
        box-shadow: 10px -20px 15px -4px black, -10px -20px 8px -4px;
    }

    .content-background2 {
        position: fixed;
        top: 0;
        /* bottom: 0; */
        left: 20%;
        /* display: flex; */
        justify-self: center;
        justify-content: center;
        align-content: center;
        height: 100lvh;
        width: 60%;
        background-color: #20202033;
        box-shadow: 10px -20px 15px -4px black, -10px -20px 8px -4px;
    }

    .main-title-container {
        position: fixed;
        width: 100%;
        height: 10%;
        /* display: grid;
        grid-template-columns:1fr 3fr 1fr 3fr 1fr;
        grid-template-rows: 1fr; */
        flex-direction: column;
        justify-self: center;
        align-items: center;
        justify-content: center;
        /* z-index: 3; */
    }

    .main-title {
        width: 50%;
        /* padding-top: 10rem; */
        display: flex;
        justify-self: center;
        color: white;
        font-size: 8rem;
        font-family: "myriad-pro", sans-serif, "Arial";
        font-weight: 600;
        font-style: normal;
    }

    .main-divider {
        width: 100%;
        /* height: 10%; */
        display: flex;
        justify-self: center;
        color: white;
        border-bottom: 10px solid white;
    }

    .main-divider-special {
        /* position: absolute; */
        margin-top: 1rem;
        top: 5rem;
        width: 100%;
        height: 100%;
        height: calc(var(--delta-y) + 1px);
        display: flex;
        justify-self: center;
        color: white;
        background-color: blue;
        background-color: #ffffff99;
        background: linear-gradient(#ffffff, #0000ff);
        clip-path: polygon(0% var(--delta-y), 10% var(--delta-y), 20% 0%, 80% 0%, 90% var(--delta-y), 100% var(--delta-y), 100% 100%, 0% 100%, 100% 100%, 90% 100%, 80% calc(100% - var(--delta-y)), 20% calc(100% - var(--delta-y)), 10% 100%, 0% 100%);
    }

    .main-subtitle {
        width: 50%;
        display: flex;
        justify-self: center;
        color: white;
        font-size: 5rem;
        font-family: "myriad-pro", sans-serif, "Arial";
        font-weight: 600;
        font-style: normal;
    }
    .category-title {

    }

    .content-spacer {
        /* background-image: url(../public/models/Firefly\ black\ background\ illustration\ of\ drawn\ planets\ with\ colorful\ shooting\ stars\ 46155.jpg); */
        background-size: contain;
        position: absolute;
        /* top: -5rem; */
        width: 100vw;
        /* height: 100dvi; */
        /* background-repeat: no-repeat; */
    }

    .nav-container {
        position: relative;
        width: 60%;
        height: 10%;
        top: calc (var(--hero-height) - var(--delta-y));
        background-color: #ffffff33;
    }

    .content-container {
        position: absolute;
        display: flex;
        align-content: center;
        justify-content: center;
        /* top: calc(var(--hero-height) - var(--delta-y) - 3px); */
        top: 0;
        width: 100%;
        /* height: calc(100% - (var(--hero-height) - var(--delta-y) - 3px)); */
        /* background-color: purple; */
    }

    .content-stars {
        height: 100%;
    }


    .content {
        /* margin-top: var(--hero-trim); */
        width: 60%;
        /* background-color: #ffffff99; */
        height: 100%
    }

    .content-content {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        height: calc(100% - var(--hero-height) * 2 - var(--hero-trim));
        /* width: ; */
        /* background-color: #fff; */
    }


    .star-container-hero-left {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
        /* top: -60vh; */
        bottom: 0;
        width: 20%;
        height: 100%;
    }

    .star-container-hero-right {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
        /* top: -60vh; */
        right: 0;
        bottom: 0;
        width: 20%;
        height: 100%;
    }

    .star-container {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
        /* top: -60vh; */
        bottom: 0;
        width: 60%;
        height: 100%;
        pointer-events: none;
    }

    .star-bg-lg,
    .star-bg-md,
    .star-bg-sm,
    .star-bg-lg-hero,
    .star-bg-md-hero,
    .star-bg-sm-hero {
        opacity: 1;
        position: relative;
        grid-row-start: 1;
        grid-column-start: 1;
        top: 0;
        /* bottom: 0; */
        width: 100%;
        background-repeat: repeat;
        pointer-events: none;
    }

    .star-bg-lg,
    .star-bg-md,
    .star-bg-sm {
        height: 100%
    }

    .star-bg-lg-hero,
    .star-bg-md-hero,
    .star-bg-sm-hero {
        height: var(--hero-height);
    }

    .star-bg-lg,
    .star-bg-lg-hero {
        background-image: url(../public/2x/Large-star-tile@2x.webp);
        animation: 16s ease 3s infinite lgStarAnimate ;
    }

    .star-bg-md,
    .star-bg-md-hero {
        background-image: url(../public/2x/Medium-star-tile@2x.webp);
        animation: 9s ease 6s infinite mdStarAnimate ;
    }

    .star-bg-sm,
    .star-bg-sm-hero {
        background-image: url(../public/2x/Small-star-tile@2x.webp);
        animation: 9s ease 9s infinite smStarAnimate ;
    }

    @keyframes smStarAnimate {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    @keyframes mdStarAnimate {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    @keyframes lgStarAnimate {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .content-logo-spacer {
        height: var(--hero-trim);
        /* height: 300px; */
        width: 100%;
        /* background-color: #fff; */
    }

    .content-ring-navs-container {
        /* position: absolute; */
        display: grid;
        grid-template-columns: 5% 15% 60% 15% 5%;
        grid-template-rows: 1fr;
        grid-template-areas: 'null ringNavL logo ringNavR null2';
        align-items: center;
        width: 100%;
        height: 5%;
        /* height: 100%; */
        /* aspect-ratio: 1/1; */
        background-color: var(--hero-trim-color);
        /* overflow: hidden; */
        background-image: url(../public/models/smoke/webp/White_Cloud.webp);
        /* background: linear-gradient(#20202000, #202020); */
        background-size: cover;
    }

    .content-logo-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: end;
        width: 100%;
        /* align-content: start; */
        height: calc(var(--hero-height) - var(--hero-trim) - 3px);
    }

    .content-logo-link {
        /* position: relative; */
        width: 100%;
        grid-template-columns: 1fr;
        width: 100%;
        /* height: 100%; */
        bottom: -40%;
        display: flex;
        flex-wrap: wrap;
        align-content: end;
        justify-content: center;
        /* background-color: var(--hero-trim-color); */
    }

    .content-logo {
        position: relative;
        /* top: -5rem; */
        bottom: -10rem;
        display: flex;
        width: 35%;
        /* height: 170%; */
        /* grid-row-start: 1;
        grid-column-start: 1; */
        /* height: 100%; */
        /* aspect-ratio: 1/1; */
    }


    .content-ring-nav-left {
        display: flex;
        align-items: center;
        /* align-content: center; */
        justify-content: center;
        color: white;
        width: 100%;
        aspect-ratio: 1/1;
        grid-area: ringNavL;
        transform: rotate(0deg);
        transition: 4s;
    }

    .content-ring-nav-left:hover {
        transform: rotate(360deg);
    }

    .content-ring-nav-right {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 100%;
        aspect-ratio: 1/1;
        grid-area: ringNavR;
        /* background-color: #fff; */
        /* background-image: url(../public/2x/fahrnbach.one-ring-nav@2x.webp); */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 50% 50%, 50% 100%, 0% 100%);
        transition: clip-path 5s;
    }

    .content-ring-nav-right:hover {
        clip-path: polygon(0 0, 0% 0, 100% 0%, 100% 100%, 50% 50%, 0% 100%, 0% 0%);
    }

    /* .content-ring-nav-link {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        text-decoration: none;
    } */

    .content-ring-nav-img{
        position: relative;
        opacity: .5;
        width: 100%;
    }

    .content-ring-nav-text {
        position: absolute;
        font-size: 2rem;
    }




    .content-nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 2%;
        background-color: white;
        font-size: 3rem;
    }

    .content-header {
        display: flex;
        flex-wrap: wrap;
        /* align-content: center; */
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 10%;
        /* background-color: green; */
        background-image: url(../public/models/smoke/webp/White_Cloud.webp);
        background-size: cover;
        background-position: 0 20%;
        font-size: 4rem;
    }

    .content-location {
        font-size: 10rem;
    }

    .content-text {
        width: 100%;
        /* height: 100%; */
        background-color: #ffffff99;
    }
    .content-text-title {
        width: 100%;
        /* height: 100%; */
        background-color: #ffffff99;
        font-size: 5rem;
    }


    .footer {
        padding: 0 1rem;
        position: relative;
        width: 100vw;
        left: -20vw;
        bottom: 0;
        overflow-y: hidden;
        background-image: url(../public/models/Mountains/Twilight.jpg);
        background-size: cover;
        background-position: center;
    }

    .bottom {
        /* height: auto; */
    }

    .ultrawide-wraper{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .ultrawide-container {
        width: 100%;
        height: 100%;
    }

    /* ultrawide fix */

    @media screen and (min-aspect-ratio: 16/7) {
        .ultrawide-wraper{
            display: flex;
            /* justify-content: center; */
            margin: auto;
            width: 100vw;
            height: 100%;
        }

        .ultrawide-container {
            /* display: flex; */
            justify-self: center;
            /* margin: auto; */
            width: 50vw;
            height: 100%;
        }
    }

    /* landscape mode mobile fix */

    @media screen and (max-height: 580px) {
        /* .content-spacer {
            background-image: url(../public/models/Firefly\ black\ background\ illustration\ of\ drawn\ planets\ with\ colorful\ shooting\ stars\ 46155.jpg);
            background-size: contain;
            position: absolute;
            width: 60vw;
            height: 100%;
            background-repeat: no-repeat;
        } */

        /* .spacer {
            background-size: contain;
            background-image: url(../public/models/2k_earth_daymap.jpg)
        } */
    }

    /* mobile main */

    @media screen and (max-width: 420px) {
        /* .content-background{
            display: none;
            background-color: #ffffff66;
        } */

        .content-background2{
            display: none;
            background-color: #20202066;
        }

        .content {
            width: 80%;
        }

        /* .concave-top-and-bottom{
        clip-path: polygon(0% 0%, 20% var(--delta-y), 80% var(--delta-y), 100% 0%, 100% 100%, 80% calc(100% - var(--delta-y)), 20% calc(100% - var(--delta-y)), 0% 100%);
        }

        .convex-top-and-bottom {
        background: gold;
        clip-path: polygon(0% var(--delta-y), 20% 0, 80% 0, 100% var(--delta-y), 100% calc(100% - var(--delta-y)), 80% 100%, 20% 100%, 0% calc(100% - var(--delta-y)));

        }

        .convex-top{
        background: blue;
        clip-path: polygon(0% var(--delta-y), 20% 0%, 80% 0%, 100% var(--delta-y), 100% 100%, 0% 100%);
        }

        .concave-bottom {
            background: yellow;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100% 80% calc(100% - var(--delta-y)), 20% calc(100% - var(--delta-y)), 0% 100%);
        } */
        .concave-top-and-bottom{
        clip-path: polygon(0% 0%, 10% var(--delta-y-sm), 90% var(--delta-y-sm), 100% 0%, 100% 100%, 90% calc(100% - var(--delta-y-sm)), 10% calc(100% - var(--delta-y-sm)), 0% 100%);
        }

        .convex-top-and-bottom {
        clip-path: polygon(0% var(--delta-y-sm), 10% 0, 90% 0, 100% var(--delta-y-sm), 100% calc(100% - var(--delta-y-sm)), 90% 100%, 10% 100%, 0% calc(100% - var(--delta-y-sm)));

        }
        .convex-top-and-bottom-hero-trim {
        clip-path: polygon(0% var(--delta-y-sm), 10% 0, 90% 0, 100% var(--delta-y-sm), 100% calc(100% - var(--delta-y-sm)), 90% 100%, 10% 100%, 0% calc(100% - var(--delta-y-sm)));

        }

        .convex-top{
            margin-top: calc(var(--delta-margin) * 1.5);
        clip-path: polygon(0% var(--delta-y-sm), 10% 0%, 90% 0%, 100% var(--delta-y-sm), 100% 100%, 0% 100%);
        }

        .concave-bottom {
        /* #small screen */
        clip-path: polygon(0% 0%, 100% 0%, 100% 100% 90% calc(100% - var(--delta-y-sm)), 10% calc(100% - var(--delta-y-sm)), 0% 100%);
        }
        .concave-bottom-hero {
        /* #small screen */
        clip-path: polygon(0% 0%, 100% 0%, 100% 100% 90% calc(100% - var(--delta-y-sm)), 10% calc(100% - var(--delta-y-sm)), 0% 100%);
        }
        .concave-bottom-hero-header {
        /* #small screen */
        clip-path: polygon(0% 0%, 100% 0%, 100% 100% 90% calc(100% - var(--delta-y-sm)), 10% calc(100% - var(--delta-y-sm)), 0% 100%);
        }

        .concave-top{
            /* #untested */
            clip-path: polygon(0% 0%, 10% var(--delta-y-sm), 90% var(--delta-y-sm), 100% 0%, 100% 100%, 0% 100%);
            overflow: hidden;
        }

        .convex-bottom {
           /* #untested */
            clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--delta-y-sm)), 90% 100%, 10% 100%, 0% calc(100% - var(--delta-y-sm)));
        }

        /* .footer {
            position: absolute;
            bottom: -10%;
        } */

        .star-container {
            width: 80%;
        }

    }
