---
import { Content } from 'astro:content';
import DocLayout from '@astrojs/starlight/components/DocLayout.astro';
const { title, description } = Astro.props;
---

<DocLayout {...Astro.props}>
  {description && <p class="page-description">{description}</p>}
  <slot />
</DocLayout>

<style>
  .page-description {
    margin-top: 0.25rem;
    font-size: 1.1rem;
    color: var(--sl-color-text-accent);
  }
</style>
